* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color: light-dark(#fafbfd, #000306);
  color: light-dark(#000306, #fafbfd);
  color-scheme: light dark;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-box {
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 2em;
  background-color: light-dark(#eaebed, #101316);
  box-shadow: 0px 0px 100px 10px rgba(142, 68, 173, 0.5);
}

button,
.link-button {
  display: block;
  padding: 1em;
  border-radius: 1em;
  background-color: light-dark(#000306, #fafbfd);
  color: light-dark(#fafbfd, #000306);
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease;
}
button:hover, .link-button:hover {
  background-color: light-dark(#202326, #dadbdd);
}
button:active, .link-button:active {
  background-color: light-dark(#404346, #babbbd);
}

input {
  padding: 1em;
  border-radius: 1em;
  background-color: light-dark(#fafbfd, #000306);
  color: light-dark(#000306, #fafbfd);
  border: none;
}

.button-row {
  display: flex;
  gap: 1em;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    min-width: 60vw;
  }
}

.games-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (min-width: 450px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  } 
  gap: 1em;
}
